* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f6fafa;
  color: #403C3C;
  font-family: "Roboto", sans-serif;
}

#nav {
  position: fixed;
  background-color: #fcfefe;
  z-index: 50;
}

.brand-name {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  color: #1a0a49;
  opacity: 0.8;

  position: absolute;
  left: 4.625rem;
  top: 0.8125rem;
}

.navbar-brand {
  position: absolute;
  top: 1.125rem;
  left: 3.25rem;
}

.navbar-nav {
  margin-top: 1.75rem;
  margin-left: 31.125rem;
}

.navbar-nav a,
.navbar-nav a:hover {
  color: #1a0a49;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  padding-left: 2.5rem;
}

.nav-button {
  margin: -0.8125rem 0 0 1.5rem;
  padding: 0.8125rem 1rem;
  border-radius: 10px;
  background-color: #fcfefe;
  border: 3px solid #1a0a49;
}

.nav-button a {
  margin-left: -2.5rem;
}

#jumbo {
  padding-top: 6.05%;
  margin-left: 1.5625rem;
}

.jumbo-box {
  padding-top: 10rem;
  margin-left: -4.0625rem;
  height: 100vh;
}

.jumbo-heading {
  color: #1a0a49;
  font-weight: 700;
  font-size: 52px;
  line-height: 56px;
  opacity: 0.8;
}

.jumbo-text {
  margin-top: 0.75rem;
  font-size: 20px;
  line-height: 27px;
  color: #403c3c;
  opacity: 0.8;
  width: 101%;
}

.jumbo-text span {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  color: #1a0a49;
  opacity: 0.95;
}

.jumbo-interest {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  /* identical to box height */
  color: #1a0a49;
  opacity: 0.8;
  margin-top: 0.75rem;
}

.jumbo-btn {
  position: absolute;
  top: 28.5rem;
  background-color: #aca1ce;
  color: #f6fafa;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  border-radius: 7px;
  border: none;
  width: 16.0625rem;
  padding: 0.75rem 0 0.9375rem 0;
}

.jumbo-img {
  position: absolute;
  left: 6.508rem;
  top: 4.085rem;
}

#mission {
  padding-bottom: 3.8125rem;
}

.mission-box {
  background-color: #d8e1ea;
  box-shadow: 0px 0px 4px 6px rgba(0, 0, 0, 0.25);
  width: 15.9375rem;
  height: 9.0625rem;
  margin-bottom: 3.8125rem;
}

.mission-img {
  background-image: url("../images/mission.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.mission-box img,
.mission-box h4,
.mission-box p {
  padding: 0.5625rem 1.25rem 0 1.25rem;
}

.mission-box h4 {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}

.mission-box p {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

.mission-text {
  background-color: #5c41a9;
  color: #f6fafa;
}

.mission-text h2 {
  font-weight: bold;
  font-size: 26px;
  margin: 3.4375rem 0 0 3.125rem;
}

.mission-text p {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  padding: 1.25rem 1.875rem 3.125rem 3.125rem;
}

.value-text {
  width: 80.5%;
}

#cards {
  padding-bottom: 3.8125rem;
}

.card-box {
  border: 3px solid #ccf3bf;
  border-radius: 8px;
  height: 103%;
}

.card-box img,
.card-box h4,
.card-box p,
.card-box a {
  padding: 0.75rem 1.125rem 0 1.125rem;
}

.card-box h4 {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #1a0a49;
}

.card-box p {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
}

.card-box a,
.card-box a:hover {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #1a0a49;
}

.card-bottom {
  padding-top: 1.9375rem;
}

#products {
  background-color: #F6FAFA;
  padding-bottom: 41px;
}

#products h2,
#testimonies h2,
#next-steps {
  padding: 28px 0 40px 0;
  color: #1A0A49;
}

#products h5 {
  color: #1A0A49;
  padding-top: 28px;
}

#products p {
  font-size: 14px;
  padding-top: 5px;
}

#products p>span {
  font-weight: bold;
}

.teamwork img,
.money img,
.character img {
  margin-left: 40%;
}

#products a {
  color: #1A0A49;
}

#testimonies {
  background-color: #E5EEF6;
}

.avatar img {
  height: 56px;
  width: 56px;
  border-radius: 50%;
  background-color: whitesmoke;
}

.chat {
  position: relative;
  bottom: 55px;
  left: 71px;
  background-color: #FDFBFB;
  border-radius: 15px;
  padding: 14px 21px 5px 21px;
}

.date {
  font-weight: bold;
  color: #94ED24;
}

.read-more button {
  background-color: #64B547;
  color: #F2EEEE;
  padding: 7px 20px;
  border: none;
  border-radius: 10px;
  position: relative;
  bottom: 72px;
  left: 638px;
}

#next-steps {
  padding-bottom: 78px;
}

#next-steps .row {
  padding-top: 40px;
}

.next-step {
  background-color: #E5EEF6;
  width: 103%;
  padding: 20px 20px 26px 20px;
}

.contact-card {
  padding-bottom: 50px;
}

#footer {
  background-color: #5C41A9;
  color: #F6FAFA;
  padding: 50px 0 73px 0;
  font-weight: bold;
}

#footer h3 {
  font-family: "Raleway",
    sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
}

.fa-envelope-square,
.fa-phone-square-alt {
  font-size: 21px;
  padding-right: 4px;
  padding-bottom: 8px;
}

.brand-contact {
  margin-top: -8px;
  padding-bottom: 28.35px;
}

.brand-social,
.brand-social a,
.brand-social a:hover {
  color: #F6FAFA;
  font-size: 21px;
  padding-right: 9px;
}

.fa-chevron-double-right {
  padding-right: 16px;
}

.subscribe h2 {
  margin-bottom: 29px;
}

form {
  margin-bottom: 15px;
}

input {
  width: 250px;
  height: 46px;
  background: #EEEAEA;
  border-radius: 6px;
  border: none;
}

.subscribe-btn {
  background: #23D3D3;
  border-radius: 6px;
  border: none;
  padding: 10px 21px;
  color: #EEEAEA;
  font-weight: bold;
}

#footer a {
  color: #E5E5E5;
}